.elementor-35 .elementor-element.elementor-element-22c39dd > .elementor-container{max-width:1160px;}.elementor-35 .elementor-element.elementor-element-22c39dd{padding:0px 0px 0px 0px;z-index:999;}.elementor-35 .elementor-element.elementor-element-6a13dd7{text-align:left;}.elementor-35 .elementor-element.elementor-element-73abdd0 .elementor-text-editor{text-align:right;}.elementor-35 .elementor-element.elementor-element-73abdd0{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;}.elementor-35 .elementor-element.elementor-element-73abdd0 > .elementor-widget-container{padding:20px 0px 10px 0px;}.elementor-35 .elementor-element.elementor-element-c57c41f > .elementor-container{max-width:1160px;}.elementor-35 .elementor-element.elementor-element-c57c41f:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-c57c41f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0F0F0F;}.elementor-35 .elementor-element.elementor-element-c57c41f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;z-index:999;}.elementor-35 .elementor-element.elementor-element-c57c41f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-58551c4{text-align:left;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-menu-toggle{margin:0 auto;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown a, .elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-menu-toggle{color:#FFFFFF;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown{background-color:#0F0F0F;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown a:hover,
					.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown a.highlighted{background-color:#D5222F;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#D5222F;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown .elementor-item, .elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-35 .elementor-element.elementor-element-6a3cfde div.elementor-menu-toggle{color:#D5222F;}.elementor-35 .elementor-element.elementor-element-6a3cfde div.elementor-menu-toggle:hover{color:#0F0F0F;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-menu-toggle:hover{background-color:#D5222F;}@media(max-width:767px){.elementor-35 .elementor-element.elementor-element-73abdd0{font-size:15px;}.elementor-35 .elementor-element.elementor-element-c57c41f{padding:5px 0px 5px 0px;}.elementor-35 .elementor-element.elementor-element-b9f21b4{width:75%;}.elementor-35 .elementor-element.elementor-element-58551c4{text-align:center;}.elementor-35 .elementor-element.elementor-element-58551c4 .elementor-image img{width:150px;}.elementor-35 .elementor-element.elementor-element-672b670{width:25%;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown .elementor-item, .elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-35 .elementor-element.elementor-element-6a3cfde .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:15px !important;}.elementor-35 .elementor-element.elementor-element-6a3cfde > .elementor-widget-container{padding:5px 025px 0px 0px;}}@media(min-width:768px){.elementor-35 .elementor-element.elementor-element-f7467ae{width:26.897%;}.elementor-35 .elementor-element.elementor-element-93d6108{width:73.103%;}.elementor-35 .elementor-element.elementor-element-b9f21b4{width:26.897%;}.elementor-35 .elementor-element.elementor-element-672b670{width:73.103%;}}/* Start custom CSS for text-editor, class: .elementor-element-73abdd0 */#menu ul {
    list-style: none !important;
}

#menu ul li { 
    display: inline !important; 
}

#menu ul li a {
    padding: 0 15px 0 0;
    color: white;
    display: inline-block !important;
}

#menu ul li a span {
    color: #d5222f;
}

#menu ul li a:hover {
     color: #d5222f;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-c57c41f */.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}/* End custom CSS */