.elementor-200 .elementor-element.elementor-element-db5c657 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-200 .elementor-element.elementor-element-b1015a9 .premium-carousel-wrapper .slick-arrow{font-size:23px;color:#FFFFFF;}.elementor-200 .elementor-element.elementor-element-b1015a9 a.carousel-arrow.carousel-next{right:0px;}.elementor-200 .elementor-element.elementor-element-b1015a9 a.carousel-arrow.carousel-prev{left:0px;}.elementor-200 .elementor-element.elementor-element-b1015a9 a.carousel-arrow.carousel-next, .elementor-200 .elementor-element.elementor-element-b1015a9 a.carousel-arrow.carousel-prev{background-color:#D5222F;}.elementor-200 .elementor-element.elementor-element-b1015a9 .slick-arrow{border-style:solid;border-color:#D5222F;}/* Start custom CSS for premium-carousel-widget, class: .elementor-element-b1015a9 */.premium-carousel-wrapper a.carousel-arrow {
    top: 90% !important;
}

a.carousel-arrow.carousel-prev {
    left: 84% !important;
}

a.carousel-arrow.carousel-next {
    left: 90% !important;
}

@media only screen and (max-width: 768px) {
  .premium-carousel-wrapper a.carousel-arrow {
   display: none !important;
}
}/* End custom CSS */