.elementor-201 .elementor-element.elementor-element-68eb882 > .elementor-container{min-height:750px;}.elementor-201 .elementor-element.elementor-element-68eb882 > .elementor-container:after{content:"";min-height:inherit;}.elementor-201 .elementor-element.elementor-element-68eb882{margin-top:-199px;margin-bottom:0px;padding:200px 0px 0px 0px;}.elementor-201 .elementor-element.elementor-element-62bd4e4 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:55px;font-weight:bold;}.elementor-201 .elementor-element.elementor-element-62bd4e4 > .elementor-widget-container{padding:150px 0px 0px 0px;}.elementor-201 .elementor-element.elementor-element-88c3823{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-201 .elementor-element.elementor-element-7456073 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:bold;fill:#FFFFFF;color:#FFFFFF;background-color:#D5222F;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D5222F;padding:25px 40px 25px 40px;}.elementor-201 .elementor-element.elementor-element-7456073 .elementor-button:hover, .elementor-201 .elementor-element.elementor-element-7456073 .elementor-button:focus{color:#D5222F;background-color:#000000;border-color:#D5222F;}.elementor-201 .elementor-element.elementor-element-7456073 .elementor-button:hover svg, .elementor-201 .elementor-element.elementor-element-7456073 .elementor-button:focus svg{fill:#D5222F;}.elementor-201 .elementor-element.elementor-element-7456073 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-201 .elementor-element.elementor-element-d722d45 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-201 .elementor-element.elementor-element-abf7301 .elementor-repeater-item-70f2cfb .swiper-slide-bg{background-color:rgba(131, 60, 163, 0);background-image:url(http://creativedd.com.br/test/msk/wp-content/uploads/2020/05/foto-duvidas.png);background-size:contain;}.elementor-201 .elementor-element.elementor-element-abf7301 .swiper-slide{height:750px;transition-duration:calc(4000ms*1.2);}.elementor-201 .elementor-element.elementor-element-abf7301 .swiper-slide-contents{max-width:66%;}.elementor-201 .elementor-element.elementor-element-abf7301 .swiper-slide-inner{text-align:center;}.elementor-201 .elementor-element.elementor-element-abf7301 > .elementor-widget-container{padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-201 .elementor-element.elementor-element-68eb882{margin-top:0px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-201 .elementor-element.elementor-element-62bd4e4 .elementor-heading-title{font-size:35px;}.elementor-201 .elementor-element.elementor-element-62bd4e4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-201 .elementor-element.elementor-element-88c3823{font-size:15px;}.elementor-201 .elementor-element.elementor-element-7456073 .elementor-button{font-size:17px;}.elementor-201 .elementor-element.elementor-element-abf7301 .swiper-slide{height:450px;}}/* Start custom CSS for heading, class: .elementor-element-62bd4e4 */.headlines-color span {
    color: #d5222f;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-7456073 */@media only screen and (max-width: 768px) {
      .button-mobile {
        display: block;
    }
    
    .button-mobile .elementor-button {
        width: 100%;
    }
}/* End custom CSS */