.elementor-368 .elementor-element.elementor-element-21488cd:not(.elementor-motion-effects-element-type-background), .elementor-368 .elementor-element.elementor-element-21488cd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0F0F0F;}.elementor-368 .elementor-element.elementor-element-21488cd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:35px 20px 35px 20px;z-index:999;}.elementor-368 .elementor-element.elementor-element-21488cd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-368 .elementor-element.elementor-element-f4051c8{text-align:center;}.elementor-368 .elementor-element.elementor-element-f4051c8 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:30px;font-weight:bold;}#elementor-popup-modal-368 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-368{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-368 .dialog-close-button{display:block;}#elementor-popup-modal-368 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(max-width:767px){.elementor-368 .elementor-element.elementor-element-f4051c8 .elementor-heading-title{font-size:35px;}}/* Start custom CSS for heading, class: .elementor-element-f4051c8 */.headlines-color span {
    color: #d5222f;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-21488cd */.eicon-close {
    color: white;
    font-size: 25px;
}/* End custom CSS */