.elementor-205 .elementor-element.elementor-element-42dfdb3 > .elementor-container{min-height:750px;}.elementor-205 .elementor-element.elementor-element-42dfdb3 > .elementor-container:after{content:"";min-height:inherit;}.elementor-205 .elementor-element.elementor-element-42dfdb3{margin-top:-199px;margin-bottom:0px;padding:200px 0px 0px 0px;}.elementor-205 .elementor-element.elementor-element-556d17c .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:55px;font-weight:bold;}.elementor-205 .elementor-element.elementor-element-556d17c > .elementor-widget-container{padding:150px 0px 0px 0px;}.elementor-205 .elementor-element.elementor-element-3d3c696{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:bold;fill:#FFFFFF;color:#FFFFFF;background-color:#D5222F;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D5222F;padding:25px 40px 25px 40px;}.elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button:hover, .elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button:focus{color:#D5222F;background-color:#000000;border-color:#D5222F;}.elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button:hover svg, .elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button:focus svg{fill:#D5222F;}.elementor-205 .elementor-element.elementor-element-6a14ae0 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-205 .elementor-element.elementor-element-daf4e11 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-205 .elementor-element.elementor-element-8251b46 .elementor-repeater-item-bc81d81 .swiper-slide-bg{background-color:rgba(131, 60, 163, 0);background-image:url(http://creativedd.com.br/test/msk/wp-content/uploads/2020/05/foto-duvidas-1.png);background-size:cover;}.elementor-205 .elementor-element.elementor-element-8251b46 .swiper-slide{height:750px;transition-duration:calc(4000ms*1.2);}.elementor-205 .elementor-element.elementor-element-8251b46 .swiper-slide-contents{max-width:66%;}.elementor-205 .elementor-element.elementor-element-8251b46 .swiper-slide-inner{text-align:center;}@media(max-width:767px){.elementor-205 .elementor-element.elementor-element-42dfdb3{margin-top:0px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-205 .elementor-element.elementor-element-556d17c .elementor-heading-title{font-size:35px;}.elementor-205 .elementor-element.elementor-element-556d17c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-205 .elementor-element.elementor-element-3d3c696{font-size:15px;}.elementor-205 .elementor-element.elementor-element-6a14ae0 .elementor-button{font-size:17px;}.elementor-205 .elementor-element.elementor-element-8251b46 .swiper-slide{height:450px;}}/* Start custom CSS for heading, class: .elementor-element-556d17c */.headlines-color span {
    color: #d5222f;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6a14ae0 */@media only screen and (max-width: 768px) {
      .button-mobile {
        display: block;
    }
    
    .button-mobile .elementor-button {
        width: 100%;
    }
}/* End custom CSS */